.center {
  display: center;
  justify-content: center;
}

.faceDetect {
  display: grid;
  grid-template-columns: 1fr 500px;
  gap: 20px;
  width: 80%;
  margin: 5em auto 0;
}

.buttonStyle {
  background-color: #FF80CC;
  padding: 15px 25px;
  border-radius: 6px;
}

.buttonStyle:hover {
  background-color: #FFA3D7;
}
