.bg-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.bg-container .bg-color {
  position: absolute;
  border-radius: 50%;
  animation: gradient 4s infinite;
}

@keyframes gradient{
  70%{
      transform: scale(1.2) translate(50px);
  }
}

.colorpink {
  height: 90%;
  width: 80%;
  background-color: #ff057c;
  left: -20%;
  top: -10%;
}
.colorpurple {
  height: 80%;
  width: 70%;
  background-color: #800f86;
  top: -12%;
  right: -12%;
  animation-delay: 2s;
}

.colorteal {
  height: 65%;
  width: 80%;
  background-color: #1619b9;
  bottom: -15%;
  right: -20%;
  animation-delay: 0.3s;
}
.colorblue {
  height: 50%;
  width: 75%;
  background-color: #1ba8e9;
  bottom: -10%;
  left: -18%;
  animation-delay: 1.2s;
}

.bg-container:after {
  position: fixed;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(80px);
}
